:root {
    // -dark-cyan: hsl(158, 36%, 37%);
    // -cream: hsl(30, 38%, 92%);

    //     -very-dark-blue: hsl(212, 21%, 14%);
    //     -dark-grayish-blue: hsl(228, 12%, 48%);
    -white: hsl(0, 0%, 100%);
}


html {
    // box-sizing: border-box;

}

body {
    margin: 0;
    max-width: 100%;
    padding: 18%;
    background: #f3eae3;
   

}

.card-img{

    &-img{
    width: 100%;
    }
}
.cart{
    button{
     width: 47%;
    border-radius: 5px;
    height: 40px;
    margin-top: 1rem;
    color: white;
    border: none;
    background: #3d826b;

    }
}
.perfum{
    &-span{
        margin-left: -2rem;
    }
}
@media(max-width:1400px){
    .perfum{
        width: 71%;
    }
}
@media(max-width:1400px){
    .number{
    // margin-left: 12rem;
    margin-top: -3.5rem;
    }
}
@media(max-width:500px){
    .number{
    margin-left: 0;
    margin-top: 0;
    }
}
@media(max-width:578px){
    .number{
        margin-left: 13rem;
        margin-top: -3.5rem;
    }
}
@media(max-width:1024px){
    .number{
        margin-left: 1rem;
        margin-top: 0.5rem;
    }
}
@media(min-width:450px){
    .number{
        margin-top: -55px;
        margin-left: 11rem;
    }
}
@media(max-width:375px){
    .number{
    margin-left: 1rem;
    margin-top: -15px;
    }
}
@media(max-width:375px){
    .cart button{
        width: 12rem;
        margin-bottom: 14px;
    }
}

.perfum {
   
    padding-left: 18rem;
    background: white;



    span {
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 0%;
        color: gray;
        font-size: 17px;
    }

    p {
        // margin-left: -1rem;
        color: #147e57f2;
        font-size: 40px;
        font-family: 'Fraunces', serif;
    }

    h1 {
        margin-left: 0rem;
        font-size: 39px;
        font-family: 'Fraunces', serif;


    }

}

